# Third party code needed to run the project,
# installed and managed by Composer
vendor/

# Composer PHAR (PHP archive) installed binary file
composer.phar
composer

# PHPUnit local configuration file
phpunit.xml